.previewTitle {
  font-family: 'montserrat','Poppins', sans-serif;
  color: #191919;
  line-height: 1.4;
  font-weight: 500;
  text-align: left;
  height: 77px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.previewTitle a {
  font-family: 'montserrat','Poppins', sans-serif;
  text-decoration: none ;
  font-weight: 500;
  overflow: hidden;
}

.previewDescription {
  font-family: 'montserrat','Poppins', sans-serif;
  line-height: 1.9;
  color: #191919;
  font-size: 15px;
  text-align: left;
  height: 90px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}

.postMeta {
  color: #191919;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
}

.authorName {
  font-family: 'montserrat','Poppins', sans-serif;
  color: #191919;
  width: 50%;
  text-align: left;
  font-weight: 700;
}

.authorDate {
  font-family: 'montserrat','Poppins', sans-serif;
  color: #191919;
  width: 50%;
  text-align: right;
  font-weight: 700;
}


.readMoreButton {
  color: white;
  font-family: 'montserrat','Poppins', sans-serif;
  font-weight: 700;
  border-radius: 20px;
  border-color: white;
  border: 0px;
  background-image: linear-gradient(129deg, rgba(147, 63, 236)  0%, rgba(204, 52, 65) 13%, rgba(253, 147, 51) 26%, rgba(147, 63, 236) 120%, rgba(204, 52, 65) 160%, rgba(253, 147, 51) 200%, rgba(147, 63, 236)  240%, rgba(204, 52, 65) 280%, rgba(253, 147, 51) 320%, rgba(147, 63, 236)  360%, rgba(204, 52, 65) 400%);
  transition: 0.6s;
  width: 130px;
  height: 40px;
  background-size: 400% 400%;
  float: left;
  text-decoration: none;
  padding-top: 7px;
}

.readMoreButton:hover {
  background-image: linear-gradient(129deg, rgba(147, 63, 236)  0%, rgba(204, 52, 65) 13%, rgba(253, 147, 51) 26%, rgba(147, 63, 236) 50%, rgba(253, 147, 51) 74%, rgba(204, 52, 65) 87%, rgba(147, 63, 236)  100%, rgba(204, 52, 65) 280%, rgba(253, 147, 51) 320%, rgba(147, 63, 236)  360%, rgba(204, 52, 65) 400%);
  animation: readMoreTransition 60s ease infinite;
  cursor: pointer;
  color: white;
}

@keyframes readMoreTransition {
  0% {
    background-position: 1% 0%;
  }
  10% {
    background-position: 99% 100%;
  }
  90% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}