.container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.articleList {
  max-width: 1200px;
}

@media only screen and (max-width: 991px) {
  .article_wrapper {
    display: block !important;
  }
}