.container {
  margin-top: 75px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

.gradient-background {
  background: rgb(160, 76, 185) !important;
  background: linear-gradient(129deg, rgba(160, 76, 185 , 1) 0%, rgba(218, 53, 67, 1) 48%, rgba(255, 151, 51, 1) 100%) !important;
}

.bwGradientBackground {
  background: rgb(188,188,188) !important;
  background: linear-gradient(129deg, rgba(188,188,188,1) 0%, rgba(200,200,200,1) 42%, rgba(220,220,220,1) 100%) !important;
}

.stretchImage {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.vertical_gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(150deg, rgba(100,100,100,0.2) 0%, rgba(255,255,255,0) 20%) !important;
}

.container h3 {
  color: white;
  font-family: 'montserrat','Poppins', sans-serif;
  text-align: left;
  display: inline-block;
  font-weight: 800;
  line-height: 70px;
  font-size: 44px;
  width: 1290px;
}

.container .title_statement {
  color: white;
  font-family: 'montserrat','Poppins', sans-serif;
  text-align: left;
  display: inline-block;
  padding-top: 250px;
  font-weight: 800;
  line-height: 70px;
  font-size: 44px;
  width: 1290px;
}

.title_statement {
  font-size: 50px;
  line-height: 90px;
}

.container h5 {
  color: white;
  font-family: 'montserrat','Poppins', sans-serif;
  text-align: left;
  display: inline-block;
  padding-top: 20px;
  width: 1290px;
  font-weight: 500;
  padding-right: 350px;
  line-height: 45px;
  font-size: 26px;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 930px) {
  .container {
    height: 500px;
  }

  .container h3 {
    font-weight: 800;
    line-height: 50px;
    font-size: 32px;
    width: 830px;
  }

  .container h5 {
    padding-top: 5px;
    width: 830px;
    font-weight: 500;
    padding-right: 50px;
    line-height: 30px;
    font-size: 18px;
  }

  .title_statement {
    font-size: 40px !important;
    line-height: 60px !important;
    padding-top: 150px !important;
    width: 830px !important;
  }
}


@media only screen and (max-width: 930px) and (min-width: 660px) {
  .container {
    height: 500px;
  }

  .container h3 {
    font-weight: 800;
    line-height: 30px;
    font-size: 22px;
    width: 610px;
  }

  .container h5 {
    padding-top: 5px;
    width: 610px;
    font-weight: 500;
    padding-right: 50px;
    line-height: 30px;
    font-size: 18px;
  }

  .title_statement {
    padding-top: 150px !important;
    font-size: 40px !important;
    line-height: 90px !important;
    width: 610px !important;
  }
}


@media only screen and (max-width: 660px){
  .container {
    margin-top: 60px;
    height: 500px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container h3 {
    font-weight: 800;
    line-height: 30px;
    font-size: 22px;
    width: 90%;
    min-width: 320px;
  }

  .title_statement {
    padding-top: 110px !important;
    font-size: 40px !important;
    line-height: 60px !important;
    margin-bottom: 40px !important;
    width: 90% !important;
    min-width: 320px !important;
    text-align: left !important;
  }

  .container h5 {
    padding-top: 30px;
    width: 90%;
    min-width: 320px;
    font-weight: 500;
    padding-right: 50px;
    line-height: 30px;
    font-size: 18px;
  }
}


@media only screen and (max-width: 562px){
  .title_statement {
    padding-top: 70px !important;
  }
}