.container {
  height: 600px;
}

.container h3 {
  color: white;
  font-family: 'montserrat','Poppins', sans-serif;
  text-align: left;
  display: inline-block;
  padding-top: 180px;
}

.banner_row {
  height: 300px;
}

.container h5 {
  color: white;
  font-family: 'montserrat','Poppins', sans-serif;
  text-align: left;
  display: inline-block;
  padding-top: 10px;
  width: 700px;
  font-weight: 300;
  margin-left: -58px;
}

.dark_overlay {
  background-color: rgba(25, 25, 25, 0.6);
}

.gradientBackground {
  background: rgb(160, 76, 185) !important;
  background: linear-gradient(129deg, rgba(160, 76, 185 , 1) 0%, rgba(218, 53, 67, 1) 48%, rgba(255, 151, 51, 1) 100%) !important;
  /* background: linear-gradient(129deg, rgba(189,152,224,1) 0%, rgba(218,120,165,1) 42%, rgba(248,94,100,1) 100%) !important; */
}

.bwGradientBackground {
  background: rgb(188,188,188) !important;
  background: linear-gradient(129deg, rgba(188,188,188,1) 0%, rgba(200,200,200,1) 42%, rgba(220,220,220,1) 100%) !important;
}

.stretchImage {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.topic_container {
  padding-left: 40px;
  padding-right: 40px;
}

.t_container .header {
  padding-bottom: 10px;
}

.topic_container .banner_row {
  height: auto !important;
  align-items: center !important;
}

.t_container {
  padding-top: 10px;
  height: auto !important;
}

.header {
  font-size: 40px;
  font-family: 'montserrat','Poppins', sans-serif;
  color: #191919;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 21px;
}

.whiteText {
  color: white;
}

@media only screen and (max-width: 991px) {
  .offset {
    display: none;
  }

  .topic_container .header {
    font-size: 26px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 530px) {
  .header {
    font-size: 32px;
  }
}

@media only screen and (max-width: 530px) {
  .header {
    font-size: 22px;
  }
}

@media only screen and (min-width: 992px) {
  .banner_row {
    align-items: center !important;
  }

  .header {
    padding-top: 41px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .banner_row {
    height: 545px;
    align-items: center !important;
  }

  .container {
    height: 600px !important;
  }

  .header {
    padding-bottom: 0px;
  }

  .t_container {
    height: auto !important;
  }

  .image_element {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}