.body {
  color: white;
  font-family: 'montserrat','Poppins', sans-serif;
  margin: auto;
  max-width: 140px;
}

.header {
  color: white;
  font-size: 54px;
  font-family: 'montserrat','Poppins', sans-serif;
  font-weight: 700;
}

.pointWrapper {
  height: 200px;
}

@media only screen and (max-width: 991px) {
  .pointWrapper {
    height: 90px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 530px) {
  .body {
    font-size: 16px;
  }

  .header {
    font-size: 26px;
  }
}

@media only screen and (max-width: 530px) {
  .body {
    font-size: 12px;
  }

  .header {
    font-size: 14px;
  }
}