.container {
    height: 400px;
    width: 448px;
    position: relative;
    margin: auto;
}

.brain_wrapper {
    height: 400px;
    width: 448px;
    padding: 99px 52px 99px 76px;
}

.purple_brain {
    width: 100%;
    height: 100%;
}

.microscope {
    position: absolute;
    height: 64px;
    width: 64px;
    top: 0px;
    left: 100px;
    border-radius: 10px;
}

.scans {
    position: absolute;
    height: 64px;
    width: 64px;
    bottom: 1px;
    right: 114px;
    margin-bottom: 0px;
    border-radius: 50px;
}

.trace {
    position: absolute;
    height: 64px;
    width: 64px;
    top: 168px;
    border-radius: 50px;
}

.medication {
    position: absolute;
    height: 64px;
    width: 64px;
    top: 159px;
    right: 6px;
    border-radius: 10px;
}

.vitals {
    position: absolute;
    height: 64px;
    width: 64px;
    top: 20px;
    right: 82px;
    border-radius: 50px;
}

.records {
    position: absolute;
    height: 64px;
    width: 64px;
    bottom: 16px;
    left: 102px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.mesh {
    position: absolute;
    height: 400px;
    width: 400px;
    padding: 40px 16px 40px 64px;
    bottom: 0;
    left: 0;
    pointer-events: none;
}


@media only screen and (min-width: 992px) {
    .container {
        width: 648px;
        padding-right: 200px;
    }

    
    .scans {
        right: 314px;
    }

    .medication {
        right: 206px;
    }

    .vitals {
        right: 282px;
    }
}


@media only screen and (max-width: 600px) {
    .container {
        height: 267px;
        width: 300px;
    }
    
    .brain_wrapper {
        height: 267px;
        width: 300px;
        padding: 66px 34px 66px 50px;
    }
    
    .microscope {
        position: absolute;
        height: 43px;
        width: 43px;
        top: 0px;
        left: 68px;
    }
    
    .scans {
        position: absolute;
        height: 43px;
        width: 43px;
        bottom: 1px;
        right: 76px;
        margin-bottom: 0px;
    }
    
    .trace {
        position: absolute;
        height: 43px;
        width: 43px;
        top: 112px;
    }
    
    .medication {
        position: absolute;
        height: 43px;
        width: 43px;
        top: 106px;
        right: 4px;
    }
    
    .vitals {
        position: absolute;
        height: 43px;
        width: 43px;
        top: 13px;
        right: 56px;
    }
    
    .records {
        position: absolute;
        height: 43px;
        width: 43px;
        bottom: 10px;
        left: 67px;
        margin-bottom: 0px;
    }
    
    .mesh {
        position: absolute;
        height: 267px;
        width: 267px;
        padding: 26px 11px 26px 43px;
        bottom: 0;
        left: 0;
    }
}

.cls_0{
    transition: 2s;
    fill:none;
    stroke:#7d0000;
    stroke-miterlimit:10;
}

.cls_1{
    transition: 2s;
    fill:none;
    stroke:#B757A3;
    stroke-miterlimit:10;
}

.cls_2{
    transition: 2s;
    fill:none;
    stroke:#E7696F;
    stroke-miterlimit:10;
}

.cls_3{
    transition: 2s;
    fill:none;
    stroke:#a78585;
    stroke-miterlimit:10;
}

.cls_4{
    transition: 2s;
    fill:none;
    stroke:#5b9b11;
    stroke-miterlimit:10;
}

.cls_5{
    transition: 2s;
    fill:none;
    stroke:#157b94;
    stroke-miterlimit:10;
}

.cls_6{
    transition: 2s;
    fill:none;
    stroke:#8b7808;
    stroke-miterlimit:10;
}

.cls_7{
    transition: 2s;
    fill:none;
    stroke:#a8510a;
    stroke-miterlimit:10;
}

.width_0{
    transition: 2s;
    stroke-width:0.5px;
}

.width_1{
    transition: 2s;
    stroke-width:1px;
}

.width_2{
    transition: 2s;
    stroke-width:2px;
}


@keyframes TransitioningBackground {
    0% {
      background-position: 1% 0%;
    }
    50% {
      background-position: 99% 100%;
    }
    100% {
      background-position: 1% 0%;
    }
  }
  
  .info_button {
      font-size: 1rem;
      font-weight: 600;
      color: white;
      text-align: center;
      overflow: hidden;
      background-size: 400% 400%;
      animation: TransitioningBackground 10s ease infinite;
      transition: 0.6s, padding 0s, border-radius 0s;
      padding: 0px;
  }
    
  .info_button:hover {
        background-image: linear-gradient(to left, #2d8fe5, #d155b8);
        transform: scale(1.1);
        padding: 5px;
        cursor: pointer;
        transition: 0.6s, padding 0s, border-radius 0s;
  }
  
  .info_button:hover::before, .info_button:hover::after {
      transform: skewX(-15deg);
      transition: 0.7s;
  }

  .selected {
    transform: skewX(-15deg);
    transition: 0.7s;
    background-image: linear-gradient(to left, #2d8fe5, #d155b8);
    transform: scale(1.1);
    padding: 5px;
    cursor: pointer;
    transition: 0.6s, padding 0s, border-radius 0s;
  }