.container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}

.inner_container {
    padding-top: 30px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
}

.header {
    font-size: 30px;
    font-weight: 600;
    font-family: 'montserrat','Poppins', sans-serif;
}

.body {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'montserrat','Poppins', sans-serif;
}

.drop {
    padding-top: 100px;
}