.previewTitle {
  font-family: 'montserrat','Poppins', sans-serif;
  color: #191919;
  line-height: 1.4;
  font-weight: 500;
}

.container {
  overflow: hidden;
}

.previewTitle a {
  text-decoration: none ;
}

.previewDescription {
  line-height: 1.9;
  color: #191919;
  font-size: 15px;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}

.postMeta {
  color: #191919;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
}

.authorName {
  width: 50%;
  text-align: left;
}

.authorDate {
  width: 50%;
  text-align: right;
}