/* ##### Contact Area CSS ##### */

.group {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.group input,
.group textarea {
  font-size: 12px;
  font-style: italic;
  padding: 10px;
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  background-color: transparent;
  color: #191919;
  border-radius: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.group input:focus,
.group textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.group label {
  color: #191919;
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 14px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  margin-bottom: 0;
}

.group .bar {
  position: relative;
  display: block;
  width: 100%;
}

.group .bar:before,
.group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background-color: #191919;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.group .bar:before {
  left: 50%;
}

.group .bar:after {
  right: 50%;
}

.group textarea {
  height: 130px;
}

/* Form Active State */

.group input:focus ~ label,
.group textarea:focus ~ label,
.group input:valid ~ label,
.group textarea:valid ~ label {
  top: -17px;
  font-size: 12px;
  color: #191919;
}

.group input:focus ~ .bar:before,
.group textarea:focus ~ .bar:before,
.group input:focus ~ .bar:after,
.group textarea:focus ~ .bar:after {
  width: 50%;
  background-color: #191919;
}

input:required,
textarea:required {
  box-shadow: none !important;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.form form {
  max-width: 640px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}


.sendMessage {
  color: white;
  font-family: 'montserrat','Poppins', sans-serif;
  font-weight: 700;
  border-radius: 20px;
  border-color: white;
  border: 0px;
  background-image: linear-gradient(129deg, rgba(110, 41, 224 ,0.8)  0%, #d155b8 40%, rgba(110, 41, 224 ,0.8) 80%, #d155b8 120%, rgba(110, 41, 224 ,0.8) 160%, #d155b8 200%, rgba(110, 41, 224 ,0.8)  240%, #d155b8 280%, rgba(110, 41, 224 ,0.8) 320%, #d155b8 360%, rgba(110, 41, 224 ,0.8) 400%);
  transition: 0.6s;
  width: 130px;
  height: 40px;
  background-size: 400% 400%;
}

.sendMessage:hover {
  background-image: linear-gradient(129deg, rgba(110, 41, 224 ,0.8)  0%, #d155b8 40%, rgba(110, 41, 224 ,0.8) 80%, #d155b8 120%, rgba(110, 41, 224 ,0.8) 160%, #d155b8 200%, rgba(110, 41, 224 ,0.8)  240%, #d155b8 280%, rgba(110, 41, 224 ,0.8) 320%, #d155b8 360%, rgba(110, 41, 224 ,0.8) 400%);
  animation: readMoreTransition 10s ease infinite;
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes readMoreTransition {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}