.flipped {
  transform: rotateX(180deg);
}

.arrow {
  font-size: 32px;
  transition: 0.5s;
  cursor: pointer;
  width: 60px;
  margin: auto;
  border-radius: 25px;
  margin-bottom: 20px;
}

.hiddenWrapper {
  opacity: 1;
  transition: 1s;
  padding-left: 50px;
  padding-right: 50px;
}

.hiddenWrapperHide {
  opacity: 0;
  transition: 1s;
}

.heightZero {
  height: 0px;
}

.wrapper {
  display: flex;
}

.container {
  margin: auto;
}

.grey_background {
  background-color: #F2F2F2;
}