.footer_info {
  background: rgb(226, 222, 199) !important;
  padding-bottom: 30px;
  text-align: left;
  position: relative;
}

.curve {
  position: absolute;
  bottom: 0;
  max-height: 200px;
}

.container {
  position: relative;
  margin-top: 250px;
}

.container a, .container h5 {
  font-family: 'montserrat','Poppins', sans-serif;
  text-decoration: none;
  color: #373F49;
  font-weight: 500;
}


.container a:hover {
  color: #000;
}

.footerCWInfo {
  max-width: 400px;
  min-height: 152px;
  margin-left: 150px;
}

.footerLogo, .phoneHeader {
  font-size: 20px;
}

.contact_info_area {
  font-family: 'montserrat','Poppins', sans-serif;
  float: right;
  text-align: right;
  padding-right: 30px;
  margin-top: -30px;
}

.linked_in {
  color: #00A0DC !important;
}

