.navbar {
  background-color: #FFFFFF !important;
  padding: .5rem 30px;
}

.navbarBrand {
  width: 200px;
}

.linked_in_ref {
  color: #00A0DC !important;
}

.anchor {
  color: #757575 !important;
}

.navbarLinks a {
  font-family: 'montserrat','Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.navbarLinks {
  margin-right: 0px !important;
}

@media only screen and (max-width: 450px){
  .navbarBrand {
    width: 150px;
  }
}

.anchor:hover, .linked_in_ref:hover {
  cursor: pointer;
}