.container {
    z-index: 10;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .hideOnMobile {
      display: none;
    }
}

@media only screen and (min-width: 991px) {
  .container {
    max-width: 550px;
  }
  .capped_container {
    max-width: 400px !important;
  }
  .left_macro {
    margin-left: calc(100% - 450px);
  }
}