.subscribeWrapper {
  padding: 60px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 20px;
  background: linear-gradient(129deg, rgba(189,152,224,1) 0%, rgba(218,120,165,1) 42%, rgba(248,94,100,1) 100%) !important;
  box-shadow: 0 10px 80px rgba(15,62,153,.3);
  position: relative;
}

.sectionHeading {
  position: relative;
  z-index: 3;
  margin-bottom: 10px;
  color: white;
}

.sectionHeading h2 {
  text-transform: capitalize;
  margin-bottom: 15px;
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.sectionHeading > p {
  margin-bottom: 0;
  line-height: 2;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  font-size: 19px;
  font-weight: 500;
}

.subscribe .serviceText{
    padding-top: 0
}

/* ##### Contact Area CSS ##### */

.group {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.group input:focus,
.group textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.group label {
  color: #FFF;
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 14px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  margin-bottom: 0;
}

.group .bar {
  position: relative;
  display: block;
  width: 100%;
}

.group .bar:before,
.group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background-color: #191919;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.group .bar:before {
  left: 50%;
}

.group .bar:after {
  right: 50%;
}

.group textarea {
  height: 130px;
}

/* Form Active State */

.group input:focus ~ label,
.group textarea:focus ~ label,
.group input:valid ~ label,
.group textarea:valid ~ label {
  top: -17px;
  font-size: 12px;
  color: #191919;
}

.group input:focus ~ .bar:before,
.group textarea:focus ~ .bar:before,
.group input:focus ~ .bar:after,
.group textarea:focus ~ .bar:after {
  width: 50%;
  background-color: #191919;
}

.submit_btn {
  height: 60px;
  width: 0px;
  display: inline-block;

  border-top: 0px solid #757575;
  border-bottom: 0px solid #757575;
  border-right: 0px solid #757575;
  border-left: 0px;

  background-color: #eee;
  border-radius: 0px 20px 20px 0px;
}

.mailing_list_email {
    display: inline !important;
    width: calc(100% - 0px) !important;
    background: white;

    border: 0px solid #757575;
    z-index: 2;
    border-radius: 20px 20px 20px 20px;
    height: 50px;
}


.mailing_list_email:focus {
  background: white !important;
}

.mailing_list_inputs {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  z-index: 2;
}

.social_list_wrapper {
  text-align: left;
  padding-right: 0px;
  padding-left: 0px;
  z-index: 2;
}

.container {
  margin-top: 40px;
}

.email_button {
  font-family: 'montserrat','Poppins', sans-serif;
  color: white;
  text-decoration: none;
  height: 40px;
  padding: 10px 20px;
  border-radius: 20px 20px;
  font-weight: 600;
  z-index: 2;
  background-size: 400% 400%;
  background-image: linear-gradient(129deg, rgba(147, 63, 236, 0.9)  0%, rgba(204, 52, 65, 0.9) 13%, rgba(253, 147, 51, 0.9) 26%, rgba(147, 63, 236, 0.9) 50%, rgba(253, 147, 51, 0.9) 74%, rgba(204, 52, 65, 0.9) 87%, rgba(147, 63, 236, 0.9)  100%, rgba(204, 52, 65, 0.9) 280%, rgba(253, 147, 51, 0.9) 320%, rgba(147, 63, 236, 0.9)  360%, rgba(204, 52, 65, 0.9) 400%);
  transition: 0.6s;
  border-color: white;
  border: white solid 1px;
  margin-top: 10px;
}

.email_button:hover {
  color: white;
  background-image: linear-gradient(129deg, rgba(147, 63, 236, 0.9)  0%, rgba(204, 52, 65, 0.9) 13%, rgba(253, 147, 51, 0.9) 26%, rgba(147, 63, 236, 0.9) 50%, rgba(253, 147, 51, 0.9) 74%, rgba(204, 52, 65, 0.9) 87%, rgba(147, 63, 236, 0.9)  100%, rgba(204, 52, 65, 0.9) 280%, rgba(253, 147, 51, 0.9) 320%, rgba(147, 63, 236, 0.9)  360%, rgba(204, 52, 65, 0.9) 400%);
  animation: emailButtonTransition 60s ease infinite;
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes emailButtonTransition {
  0% {
    background-position: 1% 0%;
  }
  10% {
    background-position: 99% 100%;
  }
  90% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}

.social_list {
  text-align-last: end;
  height: 39px;
  z-index: 2;
}

.social_list_div {
  padding-right: 0px;
  padding-left: 0px;
  max-width: 400px;
  z-index: 2;
  height: 39px;
}

.social_list li {
  margin-left: 20px;
}

.social_list li img {
  height: 39px;
  width: 39px;
  margin-top: -7px;
  background-color: white;
  border-radius: 5px;
}

@media only screen and (max-width: 991px) {
  .sectionHeading h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .social_list {
    text-align-last: center;
  }

  .social_list li {
    margin-left:  0px;
    padding: 20px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.updates_mesh {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0px;
  margin-left: -60px;
  margin-bottom: 0px;
  z-index: 1;
}