.container {
  position:relative;
}
.absolute_container {
  position:absolute;
  right:0px;
  top:0px;
  overflow: hidden;
  height: 1000px;
  margin-top: -400px;
}
.container img {
  transform: rotate(270deg);
  width: 600px;
  margin-right: -250px;
}
.forward {
  z-index: 10;
}