.dream_faq_area {
  font-family: 'montserrat','Poppins', sans-serif;
  text-align: left;
}

.dream_faq_area dl {
  width: 100%;
}

.dream_faq_area dt {
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid rgba(200, 200, 200, 1);
  margin-bottom: 0;
  color: #191919;
  font-weight: 500;
  border-top: 1px solid rgba(200, 200, 200, 1);
  margin-top: -1px;
}

.dream_faq_area dd {
  margin: 0;
  padding: 0px 15px;
  transition: all 0.5s linear;
  overflow: hidden;
}