.question {
    font-family: 'montserrat','Poppins', sans-serif;
    color: #191919;
    font-size: 21px;
    font-weight: 600;
}

.answer {
    font-family: 'montserrat','Poppins', sans-serif;
    color: #191919;
}

.answer p {
    padding-top: 20px;
}

.open {
    height: 190px;
}

.close {
    height: 0px;
}

@media only screen and (max-width: 500px) and (min-width: 400px) {
    .open {
        height: 240px;
    }
}

@media only screen and (max-width: 400px) {
    .open {
        height: 300px;
    }
}