
.container {
    padding-top: 40px;
    padding-bottom: 20px;
}

.title {
    font-family: 'montserrat', 'montserrat','Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    /* background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%); */
    background: -webkit-linear-gradient(129deg, rgba(216, 1, 1,1) 0%, rgba(110,41,226,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.subtitle {
    font-family: 'montserrat','Poppins', sans-serif;
    font-style: italic;
    margin-top: 10px;
    font-weight: 500;
    font-size: 24px;
    margin-left: 40px;
    margin-right: 40px;
}

.bulletPoints {
    text-align: left;
    width: fit-content;
    margin: auto;
    padding-top: 10px;
}

.bulletPoint {
    font-family: 'montserrat','Poppins', sans-serif;
    font-style: italic;
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
}

.grey_background {
  background-color: #F2F2F2;
}