.container {
  margin-top: 60px;
}

.container h2 {
  font-family: 'montserrat','Poppins', sans-serif;
  color: #191919;
  line-height: 1.4;
  font-size: 40px;
  font-weight: 600;
}

.container .description {
  font-family: 'montserrat','Poppins', sans-serif;
  color: #191919;
  line-height: 1.4;
  font-size: 18px;
  font-weight: 500;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: auto;
}

.grey_background {
  background-color: #F2F2F2;
}

.extra_padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 992px) and (min-width: 768px){
  .container h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 768px){
  .container h2 {
    font-size: 22px;
  }
}