.title {
  font-family: 'montserrat', 'montserrat','Poppins', sans-serif;
  font-size: 42px;
  font-weight: 600;
  text-align: left;
}

.container {
  transition: 1s;
}

.fullWidth {
  margin-bottom: 0px !important;
  margin-top: 30px !important;
}

.fullWidth .title {
  text-align: center;
}

.fullWidth .sectionText {
  text-align: center;
  max-width: 1200px !important;
  margin: auto;
  line-height: 34px;
}

.fullWidth .sectionText p {
  margin-bottom: 0px;
}

.gradient_header {
  background: -webkit-linear-gradient(0deg, #fd9532, #e13831);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small_header {
  margin-top: 15px;
}

.small_header h4 {
  font-size: 24px;
}

.sectionText {
  max-width: 670px;
  font-family: 'montserrat', 'montserrat','Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  transition: 0.7s;
}

@media only screen and (max-width: 1400px) and (min-width: 992px){
  .title {
    font-size: 36px;
  }

  .sectionText {
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px){
  .title {
    font-size: 26px;
  }

  .sectionText {
    font-size: 20px;
  }

  .sectionText {
    max-width: 100%;
  }

  .container {
    transition: 1s;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 768px){
  .title {
    font-size: 22px;
  }

  .sectionText {
    font-size: 18px;
  }

  .container {
    transition: 1s;
    margin-bottom: 20px;
  }

  .container br {
    display: none;
  }


  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}