.container {
    font-family: 'montserrat', 'montserrat','Poppins', sans-serif;
    font-size: 40px;
}

.coloured .value {
    color: #6F29E1;
}

.coloured .context {
    color: #D90000;
}

.value {
    font-weight: 800;
}