.container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.articleList {
  max-width: 1200px;
}

.profile_wrapper {
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
}

.name {
  padding-top: 20px;
}

.bio {
  padding-bottom: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 680px) {
  .article_wrapper {
    display: block !important;
  }

  .profile_wrapper {
    margin: auto;
  }
}