.container {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 1550px !important;
}

.small_container {
  margin-top: 0px;
  margin-bottom: 30px;
}

.grey_background {
  background-color: #F2F2F2;
}

.wrapper {
  display: flex;
}

.small_macro {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (max-width: 1200px){
  .container {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

@media only screen and (max-width: 991px){
  .macro {
    padding-left: 50px;
    padding-right: 50px;
  }
}