
.welcome_thumb {
  position: relative;
  z-index: 1;
  margin-top: 80px;
  padding-bottom: 47.6%;
  max-width: 950px;
  margin: auto;
}

.welcome_thumb iframe {
  width: calc(100% - 50px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  margin-left: 25px;
  margin-top: -5%;
}

.border {
  border: 1px solid #191919;
  border-radius: 25px;
  max-width: 1000px;
  margin-bottom: 200px;
  margin: auto;
}

.container {
  margin-top: 100px;
}

@media only screen and (max-width: 767px) and (min-width: 555px){
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media only screen and (max-width: 555px){
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}