/* Large Version */

.recent-article h2 {
    font-size: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .recent-article h2 {
        font-size: 20px;
    }
}

/* Medium Version */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .recent-article h2 {
        font-size: 18px;
    }
}

/* Mobile Version */

@media only screen and (max-width: 767px) {
    .recent-article h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .recent-article h2 {
        font-size: 16px;
    }
   
}